<div class="container excellence_container">
  <div class="row center-align">
    <img src="./assets/img/centre.jpg" style="width: 100%; object-fit: contain;" alt="">
  </div>
  <div class="row">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header" style="font-size: 18px; font-weight: bold;">
          <i class="material-icons">expand_more</i>
          Qui sommes-nous ?
        </div>
        <div class="collapsible-body">
          <span>
            Le Centre d'Excellence Salama est un centre de formation en Informatique attaché à l'Ecole Supérieure d'Informatique Salama, ESIS en sigle. Elle fut créée dans le but d'offrir des certifications internationales aux étudiants ainsi que les professionnels IT qui veulent enrichir leurs connaissances en Informatique.
          </span><br/><br/>
          <h3 class="green-text center-align">Le savoir est le pouvoir et la certification est une preuve</h3>
        </div>
      </li>
      <li>
        <div class="collapsible-header" style="font-size: 18px; font-weight: bold;">
          <i class="material-icons">expand_more</i>
          Pourquoi obtenir une certification ?
        </div>
        <div class="collapsible-body">
          <span>
            La certification vous donne un atout professionnel en donnant une preuve mondialement reconnue par les professionnels du secteur et montre vos capacités et votre volonté à intégrer les nouvelles technologies.
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header" style="font-size: 18px; font-weight: bold;">
          <i class="material-icons">expand_more</i>
          Quelques-uns de nos modules
        </div>
        <div class="collapsible-body">
          <div class="row modules">
            <ul class="col s12 m6 l4">
              <li class="center-align title #b9f6ca green accent-1">CISCO</li>
              <li>IT ESSENTIAL</li>
              <li>CCNA</li>
              <li>CCNP</li>
            </ul>
            <ul class="col s12 m6 l4">
              <li class="center-align title #e57373 red lighten-2">IC3 DIGITAL</li>
              <li>KEY APPLICATION</li>
              <li>COMPUTER FUNDAMENTAL</li>
              <li>LIVING ONLINE</li>
            </ul>
            <ul class="col s12 m6 l4">
              <li class="center-align title #9fa8da indigo lighten-3">MICROSOFT</li>
              <li>MOS</li>
              <li>MTA</li>
              <li>MCSA</li></ul>
          </div>
        </div>
      </li>
      <li class="col s12 m6">
        <div class="collapsible-header"  style="font-size: 18px; font-weight: bold;">
          <i class="material-icons">expand_more</i>
          Nos partenaires
        </div>
        <div class="collapsible-body">
          <p>
            Nous travaillons avec des partenaires internationaux pour faire valoir la formation professionnelle au niveau mondial.
          </p>
          <p>
            <img src="./assets/img/excellence/cisco.png" width="50" alt="">
            &nbsp;&nbsp;
            <img src="./assets/img/excellence/ic3png" width="50" alt="">
            &nbsp;&nbsp;
            <img src="./assets/img/excellence/certiport.png" width="50" alt="">
            &nbsp;&nbsp;
            <img src="./assets/img/excellence/microsoft.png" width="50" alt="">
          </p>
        </div>
      </li>
      <li class="col s12 m6">
        <div class="collapsible-header" style="font-size: 18px; font-weight: bold;">
          <i class="material-icons">expand_more</i>
          Contacter le Centre d'Excellence
        </div>
        <div class="collapsible-body">
            <h3 class="blue-text">Ecole Supérieure d'Informatique Salama</h3>
            <p>
              Bâtiment Centre d'Excellence
            </p>
            <p>
              05, AV. FEMMES KATANGAISES, LUBUMBASHI - RDC
            </p>
            <p>
              +(243) 81 255 47 77
              <i class="material-icons left">phone</i>
            </p>
            <p>
              itacademy@esisalama.org
              <i class="material-icons left">email</i>
            </p>
        </div>
      </li>
    </ul>
  </div>
</div>
