<div class="container" style="margin-top: 20px;">
  <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab"><a href="#presentation" class="active">Présentation</a></li>
    <li class="tab"><a class="" href="#cursus">Cursus</a></li>
    <li class="tab"><a href="#admission">Admission</a></li>
    <li class="tab"><a href="#contact">Contacts</a></li>
  </ul>
  <div id="cursus" class="col s12" style="padding: 10px;">
    <div class="row">
      <h2>Cursus académique</h2>
      L’ESIS organise 2 cycles de formations selon le système LMD : le Graduat et le Master.<br/>
        Le graduat forme des ingénieurs techniciens de niveau BAC+3 dont le cycle de formation comprend l’année préparatoire et trois années de graduat. Le cycle de master des ingénieurs de niveau BAC+5 pour deux années de formation : master 1 et master 2.
        Le cycle de graduat se structure sur 5 filières regroupées en 3 grandes familles :
        <br/>
        <table>
          <tbody>
            <tr>
              <th>
                <i class="material-icons left">done</i>
                Génie Logiciel
              </th>
              <td>Systèmes Informatiques</td>
              <td>Gestion informatique</td>
            </tr>
            <tr>
              <th>
                <i class="material-icons left">done</i>
                Réseaux
              </th>
              <td>Administration des Systèmes</td>
              <td>Télécommunications</td>
            </tr>
            <tr>
              <th colspan="3">
                <i class="material-icons left">done</i>
                Design et Multimédia
              </th>
            </tr>
          </tbody>
        </table>
        <br/>
        Au niveau du Master, les spécialisations sont :
        <table class="striped">
          <tbody>
            <tr colspan="3">
              <th>
                <i class="material-icons left">done_all</i>
                Génie Logiciel
              </th>
            </tr>
            <tr colspan="3">
              <th>
                <i class="material-icons left">done_all</i>
                Réseaux
              </th>
            </tr>
            <tr>
              <th colspan="3">
                <i class="material-icons left">done_all</i>
                Design et Multimédia
              </th>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row">
      <h2>Filières organisées</h2>
    </div>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          La filière Génie logiciel Systèmes informatiques
        </div>
        <div class="collapsible-body">
          <span>
            L’Ingénieur Logiciel ou l’Ingénieur Système a les compétences ci-après :<br/>
            <ul>
              <li>Concepteur et développeur de n’importe quelle application</li>
              <li>Administrateur des bases de données</li>
            </ul>
              L’Ingénieur Logiciel ou l’Ingénieur Système doit pouvoir être capable de :
              réaliser l’analyse et la conception d’un système d’informations ; concevoir et modéliser un logiciel ; développer un logiciel dans un langage approprié ; exploiter une base de données, quel que soit le système de gestion de celle-ci ; maîtriser différents langages de programmation afin de choisir celui qui est le plus approprié ; utiliser des technologies et outils récents, en programmation et modélisation ; gérer un projet informatique, notamment du point de vue de l’organisation.
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          La filière Génie logiciel Gestion informatique
        </div>
        <div class="collapsible-body">
          <span>
            L’Ingénieur Logiciel spécialisé dans la Gestion a les compétences ci-après :
            L’Ingénieur Logiciel ou l’Ingénieur Système a les compétences ci-après :<br/>
            <ul>
              <li>Analyste programmeur</li>
              <li>Manager des systèmes d’informations de gestion</li>
            </ul>
            L’Ingénieur Logiciel spécialisé dans la Gestion participe à la conception et au développement de logiciels de gestion. Il doit être capable de :
            développer un logiciel de gestion dans tout domaine de la gestion (comptabilité, gestion des stocks, gestion des ressources humaines, etc.) ; utiliser des outils avancés dans la conception de logiciels de gestion ; exploiter un progiciel de gestion intégré ; conseiller sur l’emploi de logiciels de gestion.
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          La filière Réseaux et Administration système
        </div>
        <div class="collapsible-body">
          <span>
            L’ingénieur Administrateur Systèmes et Réseaux assure le bon fonctionnement technique du système informatique d’une entreprise par le conseil, la mise en place du nouveau matériel, la sécurité informatique et l’administration quotidienne du réseau.
            <br/>
            L’ingénieur Administrateur Systèmes et Réseaux est capable de :<br/>
            administrer des systèmes informatiques ;
            gérer le parc informatique d’une entreprise,
            allant de quelques équipements à plusieurs centaines ;
            administrer des serveurs, notamment de bases de données ;
            assurer la maintenance préventive,
            corrective et évolutive des équipements informatiques.

          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          La filière Design et Multimédia
        </div>
        <div class="collapsible-body">
          <span>
          L’Ingénieur en Design et Multimédia est concepteur dans les domaines suivants:
          <ul>
            <li>infographie (création et traitement d’image, animation et graphisme)</li>
            <li>Publicité et marketing,</li>
            <li>maîtrise du multimédias (vidéo, audio, effet spéciaux),</li>
            <li>web design (interface graphique et administration de site),</li>
            <li>création d’identité visuelle et d'entreprise de service en création graphique.</li>
          </ul><br/>

          L’Ingénieur en Design et Multimédia est capable de :
          faire de la création d’image en s’adaptant à la demande ; concevoir un site web et le développer ; se servir des outils informatiques à sa disposition (création/animation 2D et 3D) ; Réalisation et traitement vidéo et audio ; créer des éléments interactifs (présentation d’entreprise, projet, logiciel) offrir un support visuel à un projet environnemental, de construction ou d’aménagement intérieur/extérieur (maquette et modélisation 3D).


          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
          La filière Réseaux et Télécommunications
        </div>
        <div class="collapsible-body">
          <span>
          L’Ingénieur Télécoms et Réseaux a une connaissance des différents moyens de Télécommunications. Il intervient sur les différents équipements d’infrastructures et les terminaux des réseaux voix et données.
          <br/>
          &nbsp;&nbsp;L’Ingénieur Télécoms et Réseaux est capable de :<br/>
          comprendre le fonctionnement des réseaux téléphoniques analogiques et numériques ;
          administrer des réseaux de téléphonie mobiles de toutes générations
          (GSM, GPRS, EDGE, UMTS…) ; concevoir et maintenir des réseaux informatiques,
          ainsi que des réseaux Voix sur IP ; comprendre et mettre en place des communications
          satellitaires ; maintenir et dépanner des réseaux (téléphonique & informatique).
          </span>
        </div>
      </li>
    </ul>

  </div>
  <div id="presentation" class="col s12" style="padding: 10px;">
    <div class="row">
      <h2>Analyse historique</h2>
      La République Démocratique du Congo a l’ambition de faire partie des pays émergents à l’horizon 2030. Pour y arriver, elle doit viser un développement des compétences capables de traduire ce rêve en réalité à travers une politique nationale de renforcement de la qualité de l’enseignement supérieur et universitaire.
      <br/>
      L'une des conséquences des derniers développements des systèmes d'information et des moyens de communication a été de faire émerger des axes nouveaux ou à redéfinir, aussi bien au niveau de la recherche que du développement industriel. Il en résulte un fort besoin en personnes qualifiées, et par conséquent en formations adaptées à ces problématiques.
      <br/>
      L’évolution de la demande des entreprises et des organisations en matière informatique commandait que l’Œuvre des Salésiens de Don Bosco, spécialisée dans la formation professionnelle des jeunes, en particulier des plus pauvres d’entre eux, offre à ces derniers la possibilité d’acquérir des connaissances et des habiletés dans un secteur décisif du développement du pays et par conséquent de l’insertion professionnelle.
      <br/>
      <br/>
      <h2>Création</h2>
      L’ESIS a été créée en 2001 et a ouvert effectivement ses portes aux premiers étudiants le 16 septembre 2002, comme un prolongement dans l’Enseignement Supérieur de la formation l’ITS dans le domaine informatique pour faire répondre aux besoins de la société de se doter des ingénieurs techniciens d’une qualité éprouvée en informatique.
      <br/>
      L’ESIS a débuté avec une trentaine d’étudiants et le plan d’effectif prévoit entre 1500 à 2000 étudiants à l’horizon 2021.
      <br/>
      L’ESIS produit chaque année en moyenne 100 ingénieurs techniciens par promotion et compte porter ce chiffre à quelques centaines par an dans l’horizon du plan. Le taux actuel d’insertion professionnelle est supérieur à 90% au bout de deux ans. De nombreux diplômés bénéficient d’un contrat de travail bien avant la fin de leurs études. Après avoir été pendant huit années sous la tutelle académique de l’Université de Lubumbashi, l’ESIS a reçu en mai 2010, l’agrément définitif du Ministère en charge de l’enseignement supérieur de la République Démocratique du Congo.
      <br/>
      Cependant, les candidats au premier cycle soir sont exemptés du test d'admission. <br/>
    </div>
    <div class="row">
      <h2>Vision</h2>
      La vision de l’ESIS est celle d’être la meilleure Ecole de formation d’ingénieurs informaticiens en République Démocratique du Congo et l’une des meilleures en Afrique. Cette vision fait de la maîtrise de l’informatique et des nouvelles technologies de l’information et de la communication l’un des facteurs essentiels pour l’émergence de la RDC et le développement de l’Afrique.
    </div>

    <div class="row">
      <h2>Valeurs</h2>
      La devise de l’ESIS, formulée en latin, est « Disciplina – Labor – Excellentia », ce qui se traduit en français par « Discipline – travail – Excellence ».
      <br/>
      Cette devise incarne les 3 valeurs essentielles de l’Ecole qui sont :
      <br/><br/>
      <div class="col s12 m6 l4 white">
        <h3 style="font-weight: bold;">Discipline</h3>
        <div>
          c’est la valeur qui fait que l’on mette de l’ordre dans ce que l’on fait, on ne bouge pas en gênant les autres ou en les mettant en difficulté. La discipline rappelle que c’est en respectant les normes que l’on réussit à s’intégrer dans une équipe et que l’on réussit vraiment à travailler avec l’autre. Etre toujours dans l’état de celui qui est disposé à apprendre, Discipulus, élève ou étudiant.
        </div>
      </div>
      <div class="col s12 m6 l4">
        <h3 style="font-weight: bold;">Travail</h3>
        <div>
          nécessaire à la réalisation d’une performance et nécessite une solide formation éthique dans ces métiers particuliers de l’informatique. Tout travail acharné vainc tout. Mais si vous êtes incapable de travailler sans arrêt, et qu’il faut pratiquement vous pousser pour que vous vous mettiez au travail, votre place n’est surement pas à ESIS.
        </div>
      </div>
      <div class="col s12 m6 l4 white">
        <h3 style="font-weight: bold;">Excellence</h3>
        <div>
          qui imprègne toutes nos actions et qui se traduit par une manière d’être et une recherche permanente de perfection. Nous partageons tous cette volonté de nous dépasser pour offrir le meilleur de nous-mêmes en faisant aussi preuve d’innovation. Cette valeur demande de ne pas se contenter du minimum, d’aller au-delà de ce qui a été donné. Cette valeur fait de chacun un insatisfait et un curieux en matière de connaissance.
        </div>
      </div>
      Ces trois valeurs permettent de créer les dispositions internes qui font l’étudiant de l’ESIS. Les trois ont la même valeur, on ne peut pas prendre l’une et laisser l’autre. Elles vont ensemble et se tiennent vraiment. Le travail accompli dans la discipline conduit qu’à l’Excellence !
      <br/>
      <span class="green-text">En résumé : une Ecole, un métier !</span>
    </div>
    <div class="row">
      <h2>Missions</h2>
      <div>
        L’ESIS s’est fixé les 5 missions suivantes :<br/>
        <ol>
          <div>
            <li>Former des Ingénieurs Techniciens en Informatique avec de solides bases scientifiques et de réelles habiletés techniques et managériales dans les domaines ci-après : </li>
            <ul>
              <li>Génie Logiciel avec les options : Systèmes Informatiques et Gestion</li>
              <li>Réseaux avec les options : Administration Système et Télécommunications</li>
              <li>Design et Multimédia ;</li>
            </ul>
          </div>
          <div>
            <li>Développer la formation intégrale des étudiants : scientifique, humaine et chrétienne ; </li>
          </div>
          <div>
            <li>Promouvoir l’esprit d’entreprenariat chez les étudiants, notamment par l’insertion des cours et ateliers relatifsà la création des entreprises et au leadership ; </li>
          </div>
          <div>
            <li>Offrir une formation continue dans des domaines d’application de l’informatique en faveur des travailleurs aussi bien du secteur public que privé à travers le Centre d’Excellence. </li>
          </div>
          <div>
            <li>Fournir des services informatiques de qualité en faveur de la communauté en appui conseil et logistique et promouvoir la veille technologique via le Centre de Recherche et de Développement en Informatique Appliquée (CREDIA). </li>
          </div>
        </ol>
      </div>
    </div>
  </div>

  <div id="contact" class="col s12" style="margin-top: 20px;">
    <div class="row">
      <div class="col s12 m6">
        <h2>Contacter l'école</h2>
        <span style="font-size: 18px;" class="#33691e-text text-light-green text-darken-4-text">
          Ecole Supérieure d'Informatique Salama<br/><br/>
        </span>
        <p><i class="material-icons left">place</i>, AV. FEMMES KATANGAISES, LUBUMBASHI - RDC</p>
        <p><i class="material-icons left">phone</i>+(243) 82 226 74 72</p>
        <p><i class="material-icons left">email</i>info@esisalama.org</p>
      </div>
      <div class="col s12 m6">
        <app-google-map></app-google-map>
      </div>
    </div>
    <div class="row" style="padding-top: 20px;">
      <div class="col s12 m6">
        <div class="input-field col s12">
          <label>Nom</label>
          <input type="text" />
        </div>
        <div class="input-field col s12">
          <label>Email</label>
          <input type="email" />
        </div>
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choisir une option</option>
            <option value="1">Question</option>
            <option value="2">Suggestion</option>
            <option value="3">Autre</option>
          </select>
          <label>Sujet</label>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="input-field col s12">
          <textarea id="txta1" class="materialize-textarea"></textarea>
          <label for="txta1">Textarea</label>
        </div>
        <div class="col s12">
          <div class="btn blue right">Envoyer un message</div>
        </div>
      </div>
    </div>
  </div>
  <div id="admission" class="col s12" style="padding: 10px;">
    <div class="row">
      <h2>Procédure d’admission </h2>
      La procédure d’admission a une période de 4 mois, soit du mois de juin au mois de septembre.<br/>
      Elle comprend deux phases importantes :<br/>
      <ul>
        <li>l’inscription et dépôt de dossier,</li>
        <li>la sélection et la confirmation de la candidature retenue.</li>
      </ul>
      <h2>Inscription au premier cycle</h2>
      Le candidat au premier cycle s’inscrit au test d’admission en année préparatoire moyennant les frais y afférents et le dépôt de son dossier, présenté ci-dessous :<br/>

      - La lettre de demande d’inscription adressée au Secrétaire Général Académique<br/>
      - 4 photos passeports identiques et récentes<br/>
      - Le journal certifié par l’inspection provinciale de l’enseignement primaire et secondaire<br/>
      - La copie de la carte d’électeur ou la carte d’élève<br/><br/>

      Un concours d’admission est organisé chaque année pour sélectionner les meilleurs candidats en année préparatoire. Les personnes admises au concours d'entré à l'École Supérieure d'Informatique Salama doivent avoir moins de 23 ans au jour de la rentrée académique de l'ESIS.
      <br/>
      Ce concours comprend trois examens :<br/>

      - Un examen de mathématique de niveau examen d'État Pédagogie Générale<br/>
      - Un examen de français de niveau examen d'État Pédagogie Générale<br/>
      - Un examen de culture générale et de Test psychotechnique qui porte sur la culture générale dans les domaines géographique, politique, scientifique, technologique et autre.
      <br/>
      Le pourcentage requis pour l'admission est fonction de la capacité d'accueil de l'ESIS en année préparatoire. Mais il est d’au moins 50% et se situe la plupart du temps autour de 60%. Notons que le test est suivi d’une interview personnelle de chaque candidat retenu. Les candidats retenus après interview finissent la phase d’inscription par la confirmation de place en payant la première tranche du minerval annuel avant le début des cours.
      <br/>
      Cependant, les candidats au premier cycle soir sont exemptés du test d'admission. <br/>
    </div>
    <div class="row">
      <h2>SOUMISSION DE LA CANDIDATURE AU PREMIER CYCLE</h2>
    </div>

    <ol>

      <li>Rassembler les éléments du dossier présentés ci-dessus</li>
      <li>Compléter les informations sur le formulaire d'inscription: Cliquer ici pour accéder au formulaire</li>
      <li>Joindre les éléments du dossier et le bordéreau de transfert Western Union.</li>
      - Les frais d'inscription s'élèvent à 40 dollars.<br/>
      - Les frais sont à envoyer par Western Union Le bénéficiaire est JUMA AKILI BIN NGONGO Joseph<br/>
      Faire le suivi du dossier par:<br/>
      Email: <i class="material-icons left">email</i> inscription@esisalama.org
      Téléphone/Whatsapp: <i class="material-icons left">phone</i> +(243) 97 001 62 67

    </ol>

    <h2>Inscription au second cycle (Master)</h2>
    <div>
      Le candidat au second cycle s’inscrit en master 1 moyennant les frais y afférents et le dépôt de son dossier, présenté ci-dessous :
      <br/>
      - La lettre de demande d’inscription adressée au Secrétaire Général Académique<br/>
      - 4 photos passeports identiques et récentes<br/>
      - La copie du diplôme d’Etat ou le journal certifié par l’inspection provinciale de l’enseignement primaire et secondaire<br/>
      - La copie du diplôme de graduat ou d’autres diplômes<br/>
      - Les relevés de côtes du premier cycle ou d’autres relevés<br/>
      - La copie de la carte d’électeur ou la carte d’étudiant<br/>

      Après le dépôt de son dossier, le candidat recevra la réponse à sa demande, dans un bref délai, à l’issue de l’étude complète de son dossier par le bureau d’orientation de l’Ecole. Une fois la réponse positive, il est appelé à confirmer sa candidature par le paiement de la première tranche du minerval annuel avant le début des cours.
    </div>

  </div>
</div>
