<div class="container bibliotheque_container">
  <div class="row center-align">
    <img src="./assets/img/bibliotheque.jpg" style="width: 100%; object-fit: contain;" alt="">
  </div>
  <div class="row">
    <h2>Présentation</h2>
    <div>
      Une unité documentaire privée de l’oeuvre Salama, lieu de vie scientifique, culturelle, sociale, lieu de proximité et de méditation, qui est accessible à tous et accueille entre 50 et 60 personnes par jour. Cet établissement public, chaleureux et convivial vous offre la possibilité de vous cultiver, de faire des découvertes, de vous outiller en sciences techniques et informatiques grâce à des collections représentatives de la diversité des savoirs, des courants de pensée et des différentes formes de la création scientifique.
    </div>
  </div>
  <div class="row">
    <h2>Services Offerts</h2>
    <div>
      Consultation sur place des livres et d’autres supports de l’information (CD, DVD …), avec possibilité de photocopier quelques pages intéressantes.
      <br/>
      Consultation Internet ouverte tout public, moyennant un payement à la minute en dehors des frais d’adhésion.
      <br/>
      Organisation des activités culturelles au profit des membres et autres personnes intéressées.
    </div>
  </div>

  <div class="row">
    <h2>Horaires et Congés</h2>
    <div>
      Du lundi au Vendredi : de 07h30' à 17h00'
      <br/>
      Chaque mois d’Aout de l’année, soit du 1er au 30 Aout, la bibliothèque est fermée pour le congé annuel.
      <br/>
      Les jours fériés ainsi que les jours des fetes salésiennes ; la bibliothèque est fermée
    </div>
  </div>

</div>
