*{
  font-family: Arial, Helvetica, sans-serif;
}
*::-moz-selection {
  /* Propriétés */
  background-color: rgba(0, 255, 0, .5);
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.see-more{
  cursor: pointer;
}
